body {
  font-family: sans-serif;
  text-align: center;
  background-color: #313034;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.div-logo {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.div-logo img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 30px;
}

h3 {
  padding: 20px;
}

.information {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 95%;
  margin-right: 20px;
  color: #bbb;
  background-color: #121347;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#rifa-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Aumentando a largura mínima */
  gap: 10px;
}

.numero {
  padding: 15px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  word-wrap: break-word; /* Garante a quebra de linha */
  word-break: break-all; /* Quebra palavras longas */
  min-width: 80px; /* Aumentando a largura mínima das células */
}

.numero:hover {
  background-color: #bbb;
}

.admin01,
button {
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #121347;
  color: #fff;
  transition: opacity 0.3s ease;
  margin-top: 30px;
  width: 90%;
  max-width: 250px;
}

.admin01:hover,
button:hover {
  opacity: 0.7;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  margin-bottom: 10px;
  font-size: 18px; /* Ajustando o tamanho da fonte dos inputs */
}

input::placeholder {
  font-size: 16px;
}

#admin-login,
#admin-area,
#reserva-form {
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
}

.numero.reservado {
  background-color: #bbb;
  cursor: not-allowed;
}

.numero.pago {
  background-color: green;
  color: white;
}

.numero span {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

#admin-area table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#admin-area th,
#admin-area td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#admin-area th {
  background-color: #f2f2f2;
}

table {
  font-weight: bolder;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
}

label {
  font-size: 20px;
}

input {
  font-size: 20px;
}

input::placeholder {
  margin-left: 200px;
  padding: 20px;
}

@media (max-width: 768px) {
  #rifa-container {
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Aumentando a largura mínima também para dispositivos menores */
    padding: 10px;
  }

  .information {
    width: 80%;
  }

  h1 {
    font-size: 18px;
    padding: 8px;
  }

  .numero {
    font-size: 12px; /* Ajuste o tamanho dos números */
    padding: 8px;
    word-wrap: break-word; /* Garante a quebra de linha */
    word-break: break-all; /* Quebra palavras longas */
    min-width: 80px;
    min-height: 20px; /* Evita que o nome quebre demais */
  }

  .admin01 {
    font-size: 12px;
    padding: 10px;
  }

  input {
    font-size: 16px; /* Ajustando o tamanho da fonte nos campos de texto */
  }

  input::placeholder {
    font-size: 14px; /* Ajuste o placeholder */
  }

  /* Ajustando os inputs dentro do formulário */
  #reserva-form,
  #admin-login,
  #admin-area {
    font-size: 16px;
  }
}
